<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:insert="fragments.html :: head"></div>

<body>
	<header>
		<div th:insert="fragments.html :: menu"></div>
		<h1><span th:text="#{films.welcome}">List of Films</span> <span th:text="${name}"></span></h1>
	</header>
	<main>
	<table>
		<tr>
			<th th:text="#{film.id}">ID</th>
			<th th:text="#{film.filmName}">Film</th>
		</tr>

		<tr th:each="film,iterationCount : ${films}" th:class="${iterationCount.odd}? 'odd'" th:object="${film}"	>			
			<td th:text="*{filmId}">1</td>
			<td><a th:text="*{filmName}" th:href="@{filmy/} + *{filmId}">Film</a></td>
		</tr>
	</table>
	</main>
	
	<footer th:insert="fragments.html :: footer"></footer>

</body>
</html>