<html>
<head>
<title>Movie Search Assistant Home Page!</title>
</head>
<body>
<h1>>Movie Search Assistant Home Page!</h1>
<p>What can I do with this? </p>
<ul>
<li>Search for films by their director</li>
<li>Find the director of a film</li>
<li>Add a director to the search assistant</li>
<li>Add a film to a list of director's works!</li>
<li>View all the films in the database in chronological order</li>
<li>Register using your email, and creating a password</li>
<li>View films released in a particular year once you are registered</li>
<li>Edit the title of a film if you are registered</li>
<li>Change the language of the site</li>
</ul>
</body>
</html>